body {
	margin:0;
	padding:0;
	font-family: 'Noto Sans',Arial, sans-serif;
	background: url('./image/bg1.jpeg');
	background-size:cover;
}

.signup-form{
	width: 85%;
	max-width:860px;
	background: #f1f1f1;
	padding: 30px 40px;
	box-sizing: border-box;
	border-radius: 8px;
	text-align: center;
	box-shadow: 0 0 20px #000000b3;
	vertical-align: middle;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
}

.signup-form h1{
	margin-top: 0;
	margin-bottom: 30px;
	/* font-weight: 200; */
	font-family: Arial, sans-serif;
	color:#5F4B8B;
	font-size:40px;
	
}
.register_image {
	border: 1px solid #5f488b;
	border-radius: 4px;
	padding : 3px;
	margin-left: 2em;
	margin-top : 2em;
	width:	90%;
	text-align: center;
}
small{
	font-family: 'Noto Sans',Arial, sans-serif;
	font-size:50%;
}

.txtwapper{
	display : grid;
  	grid-template-columns : 50% 50%;
  	grid-template-row : auto auto;
  	grid-gap: 1.1rem;
}

.txtb{
	border: 1px solid gray;
	margin: 8px 0;
	padding: 12px 18px;
	border-radius: 8px;
	width : 100%;
	
}

.txtb label{
	display: block;
	text-align: left;
	color: #333;
	text-transform: uppercase;
	font-size: 13px;
}
.txtb input{
	width:100%;
	border: none;
	background: none;
	outline: none;
	font-size:15px;
	margin-top:6px;
	border-top: 1px solid #e2e2e2
}
input[type=file] {
	display : none;
}
.upload{
	background: #5f4b8b;
	box-shadow: 2px 2px 5px #e2e2e2;
	color: white!important;
	text-align: center!important;
	padding: 0.2rem;
	width: 120px;
	border: 1px solid #eeeeee;
	border-radius: 4px;
}
.upload:hover {
	background-color: #ffffff;
	border: 1px solid #5f4b8b;
	color: #5f4b8b!important;
	cursor:pointer;
	font-weight: bold;
}
.upload:active {
	background-color: #eaeaea;
}
.btn{
	display: inline-block;
	background: #5F4B8B;
	padding: 14px 0;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
	margin-top: 4px;
	width: 100%;
	border: none;
}

.btn:hover{
	background:#ffffff;
	border : 1px solid #5F4B8B;
	color : #5F4B8B;
	height : 49px;
	font-weight : bold
}
.btn.btn-secondary.btn-sm{
	grid-column-start : 1;
	grid-column-end	: 3;
}
 